oauth-username-password/src/main/mule/oauth-username-password.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1e462e81-f078-43b7-b51e-268a00c167d8" basePath="/api" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="61fb837b-37db-497b-b5ec-74f5d2672904" >
		<salesforce:oauth-user-pass-connection username="donthi.raju@girikon.com" password="LaxmiBabu@527" securityToken="KoBYYwiN0HPzIB9MqIBw7qUx" consumerKey="3MVG9wt4IL4O5wvLTlsh4KkgD98GrNdPHwbWCYq5uSXxO9u0qaj8DZB8Ho8627ifgRIrN4UFBpVkb2ymiOPMQ" consumerSecret="65101E0883DC123C1E0B9C3457007A594F508CC9B514CEE2A5AE35079A0C4FE2"/>
	</salesforce:sfdc-config>
	<flow name="oauth-username-passwordFlow" doc:id="46dd4566-e0a0-4e32-80a4-d84e4d1b405d" >
		<http:listener doc:name="Listener" doc:id="34662035-2518-46c9-b076-f62f37d18d65" config-ref="HTTP_Listener_config" path="/oauth"/>
		<salesforce:query doc:name="Query" doc:id="67439314-c345-4845-97d4-7f065378f1e0" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select Name, AccountNumber from Account limit]]></salesforce:salesforce-query>
		</salesforce:query>
		<set-payload value="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="8e6bcad9-f14e-4fd4-9a9a-06769806254b" />
	</flow>

	
	</mule>
