module-validation/src/main/mule/email.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="emailFlow" doc:id="22724e03-c329-4893-b93c-8f32da013fd6" >
		<http:listener doc:name="Listener" doc:id="93d990d7-ae60-46d1-a5c5-0138f4165e04" config-ref="HTTP_Listener_config" path="/email">
			<http:error-response statusCode="#[vars.httpStatus]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<validation:is-email doc:name="Is email" doc:id="83473138-bc09-483f-bbe5-0070993b05c8" config-ref="Validation_Config" email="#[payload.Email]"/>
		<logger level="INFO" doc:name="Logger" doc:id="e88fa975-4785-4252-b2ce-0f254b002f0a" message="#['Successfully Completed']"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="9566d186-dd94-47c5-9b9f-208b3f8df91c" type="VALIDATION:INVALID_EMAIL">
				<ee:transform doc:name="Transform Message" doc:id="d5ce3944-a94c-4689-95c4-62b140310d4b" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"error": error.description,
	"type": error.errorType
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
