module-validation/src/main/mule/module-validation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="59db0306-8dd0-415c-bee8-93d8da931ffd" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="9661cdb7-e5b2-4e1e-94ae-2568c6229930" />
	<flow name="module-validationFlow" doc:id="bff1639b-634f-4086-a31f-af4fcc666aff" >
		<http:listener doc:name="Listener" doc:id="d46ab812-8050-4599-9b40-1ad16f2a68b7" config-ref="HTTP_Listener_config" path="/validate"/>
		<validation:is-not-null doc:name="Is not null" doc:id="8304e44f-6b0f-4911-acd6-e54b1153fa28" config-ref="Validation_Config" value="#[payload.address]"/>
		<logger level="INFO" doc:name="Logger" doc:id="ab59ed86-0b64-4ca3-a4b9-b714e616790f" message="#['completed']"/>
	</flow>
</mule>
