module-validation/src/main/mule/On-error-continue-range-with-is-number4.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="validate4Flow" doc:id="4a7c9898-ac68-47b9-8af8-abebddc27d97" >
		<http:listener doc:name="Listener" doc:id="0096898e-8357-4ce4-9a4d-19900636f797" config-ref="HTTP_Listener_config" path="/validate4">
			<http:error-response statusCode="#[vars.httpStatus]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<validation:is-number doc:name="Is number" doc:id="e58f15a0-dae9-457c-8188-e47f4e898328" config-ref="Validation_Config" value="#[payload.id]" numberType="INTEGER" minValue="101" maxValue="1001"/>
		<logger level="INFO" doc:name="Logger" doc:id="4555b6ac-413a-450a-bb2a-4d37475b45e0" message="#['Complete']"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ba63866d-b8b1-4a2e-b293-0b2a3365bf19" type="VALIDATION:INVALID_NUMBER">
				<ee:transform doc:name="Transform Message" doc:id="15344ba5-6af2-4753-b367-64b0da1b7c2f">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"error": error.description,
	"type": error.errorType
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
		
</error-handler>
	</flow>
	
	
	</mule>
