module-validation/src/main/mule/validate-isnull2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:validation="http://www.mulesoft.org/schema/mule/validation"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="validate2Flow" doc:id="664e8a09-e415-4cb2-ad53-4f2ae9fd25ce" >
		<http:listener doc:name="Listener" doc:id="9fc0be68-88ab-45b5-a782-915395426e57" config-ref="HTTP_Listener_config" path="/validate2">
			<http:error-response statusCode="#[vars.httpStatus]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<validation:is-null doc:name="Is null" doc:id="2c0959cf-0474-47b0-a494-4cdc1904f29a" config-ref="Validation_Config" value="#[payload.id]"/>
		<logger level="INFO" doc:name="Logger" doc:id="39c3785b-306a-4209-a430-8c53a14f5676" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="45376a95-ec77-4f20-81b2-6c9338369641" type="VALIDATION:NOT_NULL">
				<ee:transform doc:name="Transform Message" doc:id="52ba7ca3-54ab-4b25-b19c-c6af9167e813" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"error": error.description,
	"type": error.errorType
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
